ion-content {
  --ion-background-color: #fcb06d;
  --background: url(../../assets/fundo3.png) 0 0/160%;
}

.espaco {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  background-color: #E82A02;
  color: antiquewhite;
  text-align: center;
  font-family: 'Cherry Bomb One';

  ion-row {
    display: inline-block;
  }

  h1 {
    margin-left: 3px;
    font-size: 3rem;
  }

  img {
    margin-top: 1rem;
  }
}

ion-button {

  --background: #FF0320;
  --background-click: red;
}