<ion-content [fullscreen]="true">
  <header>
    <ion-row>
      <h1>Petland...</h1>
    </ion-row>
    <ion-row>
      <img src="../../assets/dog3.png" height="100" class="invert" />
    </ion-row>
  </header>

  <div class="espaco">
    <ion-row style="margin-top: 30px">
      <ion-col>
        <ion-item class="roudedInput" line="none">
          <ion-label position="floating">
            Nome do pet: <span style="color: red">*</span>
          </ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Scooby"
            [(ngModel)]="pet.nome"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roudedInput" line="none">
          <ion-label position="floating">
            Idade: <span style="color: red">*</span>
          </ion-label>
          <ion-input
            type="numero"
            expand="block"
            style="color: #222"
            placeholder="8"
            [(ngModel)]="pet.idade"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-row style="text-align: center">
    <ion-col class="espaco">
      <ion-button (click)="cadastrar()">CADASTRAR</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
