ion-content {
  --ion-background-color: #ffe7d0;



}

.espaco {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  background-color: #E82A02;
  color: antiquewhite;
  text-align: center;
  font-family: 'Cherry Bomb One';

  ion-row {
    display: inline-block;
  }

  h1 {
    //margin-top: 5px;
    margin-left: 3px;
    //padding: 5px;
    font-size: 3rem;
  }

  img {
    margin-top: 1rem;

  }

  .invert {
    filter: invert(85%);
  }

}

ion-button {

  --background: #FF0320;
  --background-click: red;
}